body {
    background-color: #33CCFF;
    color: #000000;
    font-family: Voltaire, "Istok Web", Sans-serif;
    background-image: url(symbol.jpg);
    background-size: 10%, 10%;
}

h2 {
    color: #0000ff;
    font-family: Verdana, Geneva, Serif;
    margin: 3.5%;
    text-align: center;
    font-size: 200%;
    text-shadow: 3px 3px 5px #2f4f4f
}

header {
    background-color: #ff9900;
    padding: 5px;
    margin: 25px;
    font-size: 150%;
    color: #000080;
    border: 3px outset #000000;
    border-radius: 200px;
    text-align: center
}

.feature {
    color: #81279E
}

footer {
    font-style: italic;
    font-size: 75%
}

ol {
    list-style-type:square;
    background-image: url(arrows.jpg);
    background-repeat: no-repeat;
    background-position: right
}

main p a {
    font-weight: bold;
    color: #221FB1;
    font-size: 120%
}

#wrapper {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: #33CCFF;
}